# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Secrets
.env

# Node
node_modules
package-lock.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/

# GenLayer artifacts
artifacts/
*.compiled.js
